/* Start contactus */
.contactus {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  /* padding-bottom: 50px; */
}
.contactus .image {
  background-image: url(../imgs/contactus-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.contactus .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@media (max-width: 991px) {
  .contactus .image {
    flex-basis: 100%;
  }
}
.contactus .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .contactus .form {
    flex-basis: 100%;
  }
}
.contactus .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.contactus .form textarea.input {
  resize: none;
  height: 200px;
}
.contactus .form .input:focus {
  outline: none;
}
.contactus .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.contactus .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.contactus .content {
  text-align: center;
  padding: 20px;
}
.contactus .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.contactus .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.contactus .content img {
  width: 300px;
  max-width: 100%;
}
